.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  background-color: rgb(66, 60, 228);
}


.App-header nav span {
  color: #DAA520; /* Add this line */
}

.App-header h1 {
  position: absolute;
  left: 20px;
  color: #DAA520;
}

.App-header nav {
  display: flex;
  align-items: center; /* This line vertically aligns the links */
}

.App-header nav a {
  margin-right: 20px;
  color: #DAA520;
  text-decoration: none; /* Add this line */
}

.App-header nav .contact {
  position: absolute;
  right: 0;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #DAA520;
  color: rgb(66, 60, 228);
  text-decoration: none; /* Add this line */
}

.App-header nav .contact.active {
  background-color: #f0f0f0; /* change this to the highlight color you want */
}

.App-header nav .contact:hover {
  color: black; /*ONLY AFFECTS CONTACT WHEN HOVERING*/
}

#about {
  padding-top: 43px; /* Adjust this value as needed */
}

.about-section {
  padding: 20px;
  height: 500px;
  background-image: url('Pittsburgh.jpg');
  background-size: cover;
  background-position: center; /* Add this line */
  color: white;
}

.projects-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.project-box {
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.project-box img {
  width: 100%;
  height: auto;
}

.project-box:hover {
  border-color: #DAA520; /* Change this to your desired hover border color */
  cursor: pointer;
}

.project-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.project-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Increase the width */
  max-width: 800px; /* Increase the max-width */
  background-color: white;
  border: 2px solid #DAA520;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 10px; /* Reduce padding to make it less tall */
  display: none; /* Initially hidden */
}

.project-popup.active {
  display: block; /* Show when active */
}

.project-popup * {
  margin: 0;
  padding: 0;
}

.project-popup .popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px; /* Adjust padding to reduce space at the top */
}

.project-popup .popup-header h2 {
  margin: 0;
  padding: 0;
}

.project-popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.project-popup .github-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.project-popup .github-btn:hover {
  background-color: #555;
}

.project-popup .site-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.project-popup .site-btn:hover {
  background-color: #0056b3;
}

/* New styles for the popup header */
.project-popup .popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 0; /* Adjust padding to reduce space at the top */
}

.project-popup .popup-header h2 {
  margin: 0;
  padding: 0;
}

.project-popup .popup-header .close-btn {
  top: 10px; /* Adjust this value as needed */
  right: 10px; /* Adjust this value as needed */
  cursor: pointer;
}



.interests-section {
  padding: 20px;
  background-color: black; /* Add this line */
  color: white; /* Add this line */
}

.skills-section {
  padding: 20px;
  background-color: rgb(66, 60, 228); /* Add this line */
  color: #DAA520; /* Add this line */
}

.research-section {
  padding: 20px;
  background-color: black; /* Add this line */
  color: white; /* Add this line */
}

.contact-section {
  padding: 20px;
  height: 650px;
  background-image: url('world.svg');
  background-size: cover;
  background-color: rgb(66, 60, 228);
  color: rgb(66, 60, 228);
  font-size: 20px; /* Adjust this value as needed */
  text-align: center; /* This will center the text */
}

.text-box {
  background-color: #DAA520;
  border-radius: 25px;
  padding: 3px 10px;
  width: 50%; /* Adjust this value as needed */
  margin: auto;
}

a.after-linkedin {
  color: rgb(66, 60, 228); /* Set the text color to white */
  text-decoration: none; /* Remove the underline */
}

a.after-github {
  color: rgb(66, 60, 228); /* Set the text color to white */
  text-decoration: none; /* Remove the underline */
}

.logo-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: white; /* Change this to the color you want */
}

.center-text {
  text-align: center;
}

.logo-bar img {
  height: 100px; /* Change this to the size you want */
}

nav a:hover {
  color: #f3f3f3; /* Change the color to black when hovering */
}

nav a:hover, .contact:hover {
  color: #f3f3f3; /* Change the color to black when hovering */
}

.headshot-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust as needed */
  width: 200px; /* Adjust as needed */
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}

.headshot-photo img {
  width: 100%;
  height: auto;
}

.icon-background {
  background-color: rgb(66, 60, 228);
  color: #DAA520;
  border-radius: 50%;
  padding: 10px;
}

.icon-background:hover {
  background-color: white;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.contact-form {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* add some space above the form boxes */
  align-items: flex-start; /* align the left and right sides to the top */
}

.left-side, .right-side {
  flex: 1;
  margin-right: 5px; /* add some space between the left and right sides */
}

.contact-form {
  display: flex;
  justify-content: space-between;
}

.left-side, .right-side {
  flex: 1;
}

input, textarea {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px; /* rounded corners */
  box-sizing: border-box;
  margin-bottom: 10px; /* add some space between the fields */
}

input::placeholder, textarea::placeholder {
  color: rgb(66, 60, 228);
}

.right-side textarea {
  height: calc(3 * (1.5em + 21.8px) + 2 * 10px); /* make the textarea the same height as the three input fields, accounting for the margin */
}

.submit-button {
  display: flex;
  justify-content: center; /* center the submit button horizontally */
}

input[type="submit"] {
  padding: 6px 12px; /* reduce the padding */
  font-size: 14px; /* reduce the font size */
  margin-top: 0px; /* add some space above the submit button */
  width: 150px; /* set a specific width for the button */
  background-color: #DAA520; /* change the background color to black */
  color: rgb(66, 60, 228); /* change the text color to white for better contrast */
}

.left-side {
  flex: 1;
  margin-right: -350px; /* reduce the space between the left and right sides */
}

.right-side {
  flex: 1;
}

nav a.active {
  color: #f0f0f0; /* change this to the highlight color you want */
}
